[user]
	email = kolja.schneider@gmail.com
	name = Kolja Schneider
[core]
	pager = less -x4

[alias]
	up = rebase trunk-sx
	st = status -uno
	ci = commit
	ld = log --decorate
	lg = log --graph --pretty='%Cred%h%Creset %an -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset'
	reabse = rebase
	brnach = branch

[merge]
	tool = meld
[rebase]
	autostash = true
[push]
	default = simple
[gui]
	fontdiff = -family Hack -size -12 -weight normal -slant roman -underline 0 -overstrike 0
[tag]
	sort = version:refname
