[user]
	name = Kolja Schneider
	email = kolja.schneider@solectrix.de
[core]
	pager = less -x4

[sendemail]
	to = ralf.truebenbach@solectrix.de
	cc = kolja.schneider@solectrix.de
	from = "kolja.schneider@solectrix.de"
	confirm = never
[alias]
	up = rebase trunk-sx
	st = status -uno
	ci = commit
	lg = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset'

[merge]
	tool = meld
[rebase]
	autostash = true
[push]
	default = simple
[gui]
	fontdiff = -family Hack -size -12 -weight normal -slant roman -underline 0 -overstrike 0
